.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.listTodoContainer {
  min-width: 400px;
  max-width: 1500px;

  input {
    font-size: 25px;
  }

  button {
    font-size: 20px;
    padding: 5px;

    &:hover {
      background-color: #282c34;
      border: 1px solid red;
      color: #fff;
      cursor: pointer;
    }
  }

  .addTodo {
    display: flex;
    justify-content: space-between;
    border: 1px #fff solid;
    padding: 10px;
  }

  .listTodoWrap {

    border: 1px #fff solid;
    padding: 10px;

    .itemTodo {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      border-bottom: 1px #fff solid;
      padding-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
        border: 0;
      }

      span {
        font-size: 25px;
      }
    }
  }
}